{% paginate collection.products by 2 %}
    {% for product in collection.products %}
        {% if product.featured_image  %}
            <img src="{{ product.featured_image |  image_url: width: 540 }}" alt="{{ product.featured_image.alt }}">
        {% endif %}
        <p>{{ product.vendor }}</p>
        <a href="{{ product.url }}">{{ product.title }}</a>
        <p>{{ product.price |  money }}</p>
        {% else %}
            <p>There is no match product.</p>
    {% endfor %}
{% endpaginate %}